In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn import metrics

In [3]:
admission_data =  pd.read_csv('../Data/HDHI Admission data.csv', index_col=0)

In [5]:
# remove rows with high number of missing values
admission_data.dropna(thresh=0.8*admission_data.shape[1], inplace=True)
admission_data

Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,    10,
       ...
       15748, 15749, 15750, 15751, 15752, 15753, 15754, 15755, 15756, 15757],
      dtype='int64', name='SNO', length=15757)

# Data Cleaning

In [22]:
# convert the date columns to datetime
admission_data['D.O.A'] = pd.to_datetime(admission_data['D.O.A'], format='%m/%d/%Y')

In [23]:
# create a column of daily_order_of_arrival by the serial order of the patient in the day
admission_data['daily_order_of_arrival'] = admission_data.groupby('D.O.A').cumcount() + 1

In [32]:
admission_data[['D.O.A', 'daily_order_of_arrival']]

           D.O.A  daily_order_of_arrival
SNO
1     2017-01-04                       1
2     2017-01-04                       2
3     2017-01-04                       3
4     2017-01-04                       4
5     2017-01-04                       5
...          ...                     ...
15753 2019-03-31                       2
15754 2019-03-31                       3
15755 2019-03-31                       4
15756 2019-03-31                       5
15757 2019-03-31                       6

[15757 rows x 2 columns]

In [29]:
# convert outcome to binary
admission_data['OUTCOME_binary'] = admission_data['OUTCOME'].apply(lambda x: 1 if x == 'EXPIRY' else 0)

In [30]:
admission_data['OUTCOME_binary'].value_counts()

OUTCOME_binary
0    14652
1     1105
Name: count, dtype: int64

In [31]:
clean_data = admission_data.copy()

In [33]:
clean_data.drop(columns=['D.O.A', 'D.O.D', 'MRD No.'] , inplace=True)

In [34]:
# save the cleaned data in a csv file
clean_data.to_csv('../Data/cleaned_admission_data.csv')